<div th:fragment="contact">
    <div class="custom_heading-container">
        <h3 class=" ">
            Nos Dudes En Consultarnos!!!
        </h3>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="">
                    <div>
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div>
                        <input type="text" placeholder="Direccion">
                    </div>
                    <div>
                        <input type="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" placeholder="Numero de Celular">
                    </div>
                    <div>
                        <select name="" id="">
                            <option value="" disabled selected>Tipo de Servicio</option>
                            <option value="">Plomeria</option>
                            <option value="">Gasista</option>
                            <option value="">Electricista</option>
                            <option value="">Jardineria</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Mensaje">
                    </div>
                    <div class="d-flex justify-content-center ">
                        <button type="submit">
                            Enviar Consulta
                        </button>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <p> ó Mejor </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-secondary" th:href="@{/account}" role="button">Registrate Para Tener Una Atencion Personalizada</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>