<div th:fragment="service">
    <div class="container">
        <br>
        <div class="custom_heading-container">
            <h3 class=" ">
                Nuestros Servicios
            </h3>
        </div>
        <p class="">
            ad minim veniam, quis nostrud exercitation ullamco
        </p>
        <div class="service_container ">
            <div class="row">
                <div class="col-md-3">
                    <div class="box b-1">
                        <div class="img-box">
                            <img src="images/plomero.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Plomeros
                            </h6>
                            <p>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                            <div class="btn-box">
                                <a th:href="@{/description_plumber}">
                                    Leer más!!!
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-2">
                        <div class="img-box">
                            <img src="images/electricista.jfif" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Electricistas
                            </h6>
                            <p>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                            <div class="btn-box">
                                <a th:href="@{/description_electric}">
                                    Leer más!!!
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-3">
                        <div class="img-box">
                            <img src="images/gasista.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Gasistas
                            </h6>
                            <p>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                            <div class="btn-box">
                                <a th:href="@{description_gas}">
                                    Leer más!!!
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box b-4">
                        <div class="img-box">
                            <img src="images/jardinero.jfif" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                Jardieros
                            </h6>
                            <p>
                                adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                            <div class="btn-box">
                                <a th:href="@{/description_gardener}">
                                    Leer más!!!
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
