<!DOCTYPE html>
<html>

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBar :: nav"></nav>
                </div>
            </header>

            <!-- end header section -->

        </div>

        <!-- about section -->

        <section class="about_section layout_padding">
            <div th:replace="/fragments/about_us :: about"></div>
        </section>

        <!-- end about section -->


        <!-- footer section -->
        <footer th:replace="/fragments/footer :: footer"></footer>
        <!-- end footer section -->

        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
   
    </body>

</html>