<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!-- head -->

    <head th:replace="/fragments/head :: head"></head>

    <!-- head -->

    <body>
        <div class="hero_area">

            <!-- header section strats -->

            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragments/navBar :: nav"></nav>
                </div>
            </header>

            <!-- end header section -->
            
            <!-- slider section -->

            <section class=" slider_section position-relative">
                <div th:replace="/fragments/carrucel :: carrucel"></div>
            </section>

            <!-- end slider section -->

        </div>

        <div class="bg">

            <!-- about section -->

            <section class="about_section layout_padding">
                <div th:replace="/fragments/about_us :: about"></div>
            </section>

            <!-- end about section -->

            <!-- service section -->

            <section class="service_section layout_padding-bottom">
                <div th:replace="/fragments/service_us :: service"></div>
            </section>

            <!-- end service section -->

            <!-- work section -->

            <section class="work_section layout_padding">
                <div th:replace="/fragments/work_us :: work"></div>
            </section>

            <!-- end work section -->

            <!-- contact section -->

            <section class="contact_section layout_padding">
                <div th:replace="/fragments/contact_us :: contact"></div>
            </section>

            <!-- end contact section -->

            <!-- <!-- comment section -->

            <section class="client_section layout_padding-bottom">
                <div th:replace="/fragments/feedback :: feedback"></div>
            </section>

            <!-- end comment section -->

            <!-- footer section -->
            <footer th:replace="/fragments/footer :: footer"></footer>
            <!-- end footer section -->

            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>

    </body>

</html>